
body {
        background-color:#9dd6d6;
        color: #000305;
        font-size: 87.5%;
        font-family: Arial, 'Lucida Sans Unicode';
        line-height: 1.5;
        text-align: left;
}

a {
        text-decoration: none;
}

a:  link, a: visited {
        color:#7ea1a5;
}

a hover, a: active {

}
.body {
        margin: 0 auto;
        width: 70%;
        clear: both;

}

.mainheader nav {
        background-color: #3bbfae;
        height: 40px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}

.mainheader nav ul {
        list-style:none;
        margin: 0 auto;

}
.mainheader nav ul li {
        float: left;
        display: inline;

}
.mainheader nav a:link, .mainheader nav:visited {
        color:#FFF;
        display: inline-block;
        height: 20px;
}

.mainheader nav a:hover, .mainheader nav a:active
.mainheader nav .active a:link, .mainheader nav.active a:visited{
        background-color: #67cdc0;
        text-shadow:none;
}
.mainheader nav ul li {
        padding: 10px 25px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}
.mainContent {
        line-height: 25px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;

}

.content {
        width: 70%;
        float: left;

}
.topcontent {
        background-color: #FFF;
                border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 3% 5%;
        margin-top:2%;
}

.bottomcontent {
        background-color: #FFF;
                border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 3% 5%;
        margin-top: 2%;
}
.ylä-sivupalkki {
        width: 21%;
        float: left;
        background-color:#FFF;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin-left: 3%;
        margin-bottom: 2%;
        margin-top: 2%;
        padding: 2% 3%;
}

.keski-sivupalkki {
        width: 21%;
        float: left;
        background-color:#FFF;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin-left: 3%;
        margin-bottom: 2%;
        padding: 2% 3%;

}

.ala-sivupalkki {
       width: 21%;
        float: left;
        background-color:#FFF;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin-left: 3%;
        margin-bottom: 2%;
        padding: 2% 3%;


}
.sisalto {
max-width:35em;
margin-left:auto;
margin-right:auto;
}

#demoCanvas{
	width: 100%;
   text-align:center;
}

